*.gitignore filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.env filter=lfs diff=lfs merge=lfs -text
*.example filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
*.keystore filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.kt filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/android/gradlew filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
/ios/Podfile filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.xcprivacy filter=lfs diff=lfs merge=lfs -text
*.storyboard filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.entitlements filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
/Recify.xcarchive/Products/Applications/Recify.app/Frameworks/hermes.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/Recify.xcarchive/Products/Applications/Recify.app/Frameworks/hermes.framework/hermes filter=lfs diff=lfs merge=lfs -text
/Recify.xcarchive/Products/Applications/Recify.app/PkgInfo filter=lfs diff=lfs merge=lfs -text
*.metallib filter=lfs diff=lfs merge=lfs -text
/Recify.xcarchive/Products/Applications/Recify.app/Recify filter=lfs diff=lfs merge=lfs -text
*.nib filter=lfs diff=lfs merge=lfs -text
/Recify.xcarchive/Products/Applications/Recify.app/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.mobileprovision filter=lfs diff=lfs merge=lfs -text
*.jsbundle filter=lfs diff=lfs merge=lfs -text
/Recify.xcarchive/dSYMs/Recify.app.dSYM/Contents/Resources/DWARF/Recify filter=lfs diff=lfs merge=lfs -text
*.ipa filter=lfs diff=lfs merge=lfs -text
/temp_ipa/Payload/Recify.app/Frameworks/hermes.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/temp_ipa/Payload/Recify.app/Frameworks/hermes.framework/hermes filter=lfs diff=lfs merge=lfs -text
/temp_ipa/Payload/Recify.app/PkgInfo filter=lfs diff=lfs merge=lfs -text
/temp_ipa/Payload/Recify.app/Recify filter=lfs diff=lfs merge=lfs -text
/temp_ipa/Payload/Recify.app/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
